@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --navy-blue: #4044c9;
    --transparent-blue: rgba(64, 68, 201, 0.2);
}

* {
    font-family: Lato, sans-serif;
}

body {
    background-color: var(--navy-blue);
    margin: 0;
    padding: 0;
}

.screen-blurred {
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container__header {
    color: aliceblue;
    margin-left: 40px;
}

.container__content {
    background-color: white;
    border-top-left-radius: 35px;
    display: flex;
    flex: 1;
}

.sidebar {
    display: flex;
    flex: 3.5;
    flex-direction: column;
    padding: 25px;
}

.sidebar__nav {
    flex: 1;
}

.tasks {
    border-radius: 25px 10px 10px 10px;
    box-shadow: 0px 10px 20px var(--transparent-blue);
    display: flex;
    flex: 6.5;
    flex-direction: column;
    gap: 15px;
    margin: 40px 15px 15px 25px;
    padding: 25px;
}

.task {
    background-color: var(--navy-blue);
    border-left: 5px solid gold;
    border-radius: 2px;
    color: white;
    display: flex;
    padding: 10px;

    transition-property: box-shadow, margin-left, margin-right;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.task:hover {
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
    margin-left: -1.5px;
    margin-right: -1.5px;
}

.task--priority-high {
    border-left: 5px solid red;
}

.task--completed {
    text-decoration: line-through;
}

.task--due-already {
    color: red;
}

.task__title {
    flex: 1;
}

.task__due-at {
    padding-right: 10px;
}

.button {
    background-color: var(--navy-blue);
    border: 0;
    color: white;
    cursor: pointer;
}

.button--round {
    border-radius: 50%;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.button--size-big {
    font-size: 4rem;
    height: 4rem;
    line-height: 2rem;
    margin: 15px;
    padding-bottom: 5px;
    width: 4rem;
}

.button__img--delete-task {
    background-color: var(--navy-blue);
    content: url(resources/images/bin-16.png);
}