@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
    --base-background-color: white;
    --light-blue: #a3a7e9;
    --navy-blue: #4044c9;
    --text-color: white;
    --transparent-blue: rgba(64, 68, 201, 0.2);
}

* {
    font-family: Lato, sans-serif;
}

body {
    background-color: var(--navy-blue);
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.screen-blurred {
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container__header {
    align-self: center;
    color: var(--text-color);
}

.container__content {
    background-color: var(--base-background-color);
    border-top-left-radius: 35px;
    display: flex;
    flex: 1;
}

.sidebar {
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 25px;
}

.sidebar__nav__list {
    border-bottom: 2px solid var(--navy-blue);
    box-shadow: 0px 20px 20px var(--transparent-blue);
    padding-left: 1rem;
    padding-right: 1rem;
}

.sidebar__nav {
    flex: 1;
    margin-top: 2rem;
}

.sidebar__nav-item {
    cursor: pointer;
    display: flex;
    margin: 1.05rem;
}

.sidebar__nav-item--selected {
    border-left: 2px solid var(--light-blue);
    border-radius: 4px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-weight: 700;
}

.sidebar__nav-item__label {
    color: var(--navy-blue);
    font-size: 1.2rem;
}

.spacer {
    flex: 1;
    min-width: 10px;
}

.sidebar__nav-item__counter {
    align-items: center;
    background-color: var(--navy-blue);
    border-radius: 50%;
    color: var(--text-color);
    display: inline-flex;
    height: 2rem;
    font-size: 1rem;
    justify-content: center;
    width: 2rem;
}

.tasks {
    border-radius: 25px 10px 10px 10px;
    box-shadow: 0px 10px 20px var(--transparent-blue);
    display: flex;
    flex: 7;
    flex-direction: column;
    gap: 20px;
    margin: 40px 15px 15px 25px;
    padding: 25px;
}

.task {
    align-items: center;
    background-color: var(--navy-blue);
    border-left: 5px solid gold;
    border-radius: 2px;
    color: var(--text-color);
    display: flex;
    font-size: 1.2rem;
    padding: 0.9rem;

    transition-property: box-shadow, margin-left, margin-right;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.task:hover {
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
    margin-left: -1.5px;
    margin-right: -1.5px;
}

.task--priority-high {
    border-left: 5px solid red;
}

.task--completed-true {
    text-decoration: line-through;
}

.task--due-already {
    color: red;
}

.task__checkbox {
    appearance: none;
    background-color: #fff;
    margin-right: 1rem;
    margin-top: 0.4rem;

    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

.task__checkbox::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--navy-blue);

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.task__checkbox:checked::before {
    transform: scale(1);
}

.task__title {
    flex: 1;
}

.task__due-at {
    padding-right: 10px;
}

.button {
    background-color: var(--navy-blue);
    border: 0;
    color: var(--text-color);
    cursor: pointer;
}

.button--round {
    border-radius: 50%;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.button--size-big {
    font-size: 4rem;
    height: 4rem;
    line-height: 2rem;
    margin: 15px;
    padding-bottom: 5px;
    width: 4rem;
}

.button__img--delete-task {
    background-color: var(--navy-blue);
    content: url(resources/images/bin-16.png);
}